<h2 class="page-title"><%= @challenge.title %></h2>

<ul class="challenge challenge-items no-bullet">
  <% @challenge.challenge_items.each do |challenge_item| %>
  <li id="<%= dom_id(challenge_item) %>" class="challenge-item row">
    <div class="small-2 medium-1 columns checkmark">
      <% if challenge_item.completed? %>
        <% link_to "Mark Incomplete", complete_challenge_challenge_item_path(@challenge, challenge_item),
        method: :patch, class: "icon-check checked hide-text" %>
      <% else %>
        <% link_to "Mark Complete", complete_challenge_challenge_item_path(@challenge, challenge_item),
        method: :patch, class: "icon-check checked hide-text" %>
      <% end %>
    </div>
    <div class="small-10 medium-11 columns truncate challenge-content" title="<%= challenge_item.content %>">
      <%= link_to challenge_item.content, edit_challenge_challenge_item_path(@challenge, challenge_item) %>
    </div>
  </li>
  <% end %>
</ul>

<p>
  <%= link_to "New Challenge Item", new_challenge_challenge_item_path %>
</p>
