<h3 class="page-title truncate" title="<%= @challenge.title %>"><%= @challenge.title %></h3>

<ul class="challenge challenge_items no-bullet">
  <% @challenge.challenge_items.each do |challenge_item| %>
  <li id="<%= dom_id(challenge_item) %>" class="challenge_item row">
    <div class="small-2 medium-1 columns checkmark">
      <% if challenge_item.completed? %>
        <%= link_to "Mark Incomplete", complete_challenge_challenge_item_path(@challenge, challenge_item), method: :patch, class: "icon-check checked hide-text" %>
      <% else %>
        <%= link_to "Mark Complete", complete_challenge_challenge_item_path(@challenge, challenge_item), method: :patch, class: "icon-check unchecked hide-text" %>
      <% end %>
    </div>
    <div class="small-7 medium-8 columns truncate challenge-content" title="<%= challenge_item.content %>">
      <%= link_to challenge_item.content, edit_challenge_challenge_item_path(@challenge, challenge_item) %>
    </div>
    <div class="small-3 medium-2 columns complete complete-time">
       <% if challenge_item.completed? %>
        <%= challenge_item.completed_at.to_formatted_s(:long) %>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>

<p>
  <%= link_to "New Challenge Item", new_challenge_challenge_item_path %>
</p>
