<h1><%= @challenge.title %></h1>


<table class="challenge_items">
  <table class="challenge_items">
  <thead>
    <tr>
      <th width="25%">Completed?</th>
      <th width="65%">Content</th>
      <th width="10%">Functions</th>
    </tr>
  </thead>
  <tbody>
  <% @challenge.challenge_items.each do |challenge_item| %>
  <tr id="<%= dom_id(challenge_item) %>">
    <td>
      <% if challenge_item.completed? %>
        <%= challenge_item.completed_at %>
      <% else %>
        <%= link_to "Mark Complete", complete_challenge_challenge_item_path(challenge_item),
          method: :patch %>
        <% end %>
      </td>
      <td><%= challenge_item.content %></td>
      <td>
        <%= link_to "Edit", edit_challenge_challenge_item_path(challenge_item) %>
        <%= link_to "Delete", challenge_challenge_item_path(challenge_item), method: :delete,
        data: { confirm: "Are you sure?" } %>
      </td>
  </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to "New Challenge Item", new_challenge_challenge_item_path %>
</p>
