<h1><%= @challenge.title %></h1>


<table class="challenge_items">
  <% @challenge.challenge_items.each do |challenge_item| %>
  <tr id="<%= dom_id(challenge_item) %>">
    <td><%= challenge_item.content %></td>
    <td>
      <%= link_to "Mark Complete", complete_challenge_challenge_item_path(challenge_item), method: :patch %>
      <%= link_to "Edit", edit_challenge_challenge_item_path(challenge_item) %>
      <%= link_to "Delete", challenge_challenge_item_path(challenge_item), method: :delete,
        data: { confirm: "Are you sure?" } %>
    </td>
  </tr>
  <% end %>
</table>

<p>
  <%= link_to "New Challenge Item", new_challenge_challenge_item_path %>
</p>
