<h2 class="page-title">Challenges</h2>

<ul class="challenges no-bullet">

<% @challenges.each do |challenge| %>

  <li id="<%= dom_id(challenge) %>" class="clearfix">
    <%= link_to challenge_challenge_items_path(challenge), class: "row" do %>
      <div class="small-10 medium-11 columns truncate" title="<% challenge.title %>"><%= challenge.title %></div>
      <div class="small-2 medium-1 columns"><span class="label round"><%= challenge.challenge_items.size %></span></div>
    <% end %>
  </li>
<% end %>

</ul>

<%= link_to 'New Challenge', new_challenge_path %>
