<h1>Challenges</h1>


<% @challenges.each do |challenge| %>
<div class="challenge" id="<%= dom_id(challenge) %>">
  <h2><%= challenge.title %></h2>
  <p><%= challenge.description %></p>
  <ul class="functions">
    <li><%= link_to "Challenge Items", challenge_challenge_items_path(challenge) %></li>
    <li><%= link_to 'Show', challenge %></li>
    <li><%= link_to 'Edit', edit_challenge_path(challenge) %></li>
    <li><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
  <br class="clear" />
</div>
<% end %>

<br>

<%= link_to 'New Challenge', new_challenge_path %>
